{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Transactions</title>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;"> Daily Zoo Activity </h1>
        
        <!-- Date Selector Form -->
        <form action="{% url 'dailyzooacitvity_home' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="dateInput">Select Date:</label>
                <input type="date" id="dateInput" name="selected_date" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Show Activity </button>
        </form>

        <!-- Displaying Transactions (if available) -->
        {% if daily_zoo or daily_zoo_con %}
            {% if daily_zoo %}
                <h2>Attrations</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Show Name</th>
                            <th>Attendance </th>
                            <th>Revenue </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in daily_zoo %}
                            <tr>
                                <td>{{ transaction.show_name }}</td>
                                <td>{{ transaction.ncount }}</td>
                                <td>{{ transaction.total_cost }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if daily_zoo_con%}
            <h2>Concessions</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Concession Name</th>
                        <th>Revenue </th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in daily_zoo_con %}
                        <tr>
                            <td>{{ transaction.concession_name }}</td>
                            <td>{{ transaction.total_cost }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2> </h2>
            <h2>Attendance</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Attendee type</th>
                        <th> Numbers </th>
                        <th>Revenue </th>
                    </tr>
                </thead>
                <tbody>
                    {% for adult in daily_adult_entry %}
                        <tr>
                            <td> Adults </td>
                            <td>{{ adult.attendance }}</td>
                            <td>{{ adult.revenue }}</td>
                        </tr>
                    {% endfor %}
                    {% for senior in daily_senior_entry %}
                        <tr>
                            <td> Seniors </td>
                            <td>{{ senior.attendance }}</td>
                            <td>{{ senior.revenue }}</td>
                        </tr>
                    {% endfor %}
                    {% for child in daily_child_entry %}
                        <tr>
                            <td> Childrens </td>
                            <td>{{ child.attendance }}</td>
                            <td>{{ child.revenue }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        {% else %}
            <p>No transactions available for this date.</p>
        {% endif %}
    </div>
</body>
</html>
{% endblock %}
