{% extends "base.html" %}

{% block title %}
    Edit Attraction
{% endblock %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
{% for attraction in attractions %}
    <h1>Update Attraction: {{attraction.attraction_name}}</h1> 
    <form action="{% url 'edit_attraction' attraction.attraction_name %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="current_attraction_name" value="{{ attraction.attraction_name }}">


        <label for="attraction_name">Attraction Name:</label><br>
        <input type="text" id="attraction_name" name="attraction_name" value="{{ attraction.attraction_name }}" required><br>

        <label for="seats">Seats:</label><br>
        <input type="number" id="seats" name="seats" value="{{ attraction.seats }}" required><br>

        <label for="building"> Old Building Name: {{ attraction.building_name }}</label><br>
        <label for="building">   Note: if you want to change building then select new building in drop down otherwise selecct same</label><br>

        <label for="building">Building new:</label><br>
        <select id="building" name="building_id" required>
            {% for building in buildings %}
                <option value="{{ building.building_id }}" {% if building.building_id == attraction.building_id %}selected{% endif %}>
                    {{ building.building_name }}
                </option>
            {% endfor %}
        </select><br>
        

        {% for requirement in requirements %}
            <div class="requirement">
                <label for="species">Species:</label><br>
                <input type="hidden" name="current_species_id" value="{{ requirement.species_name }}">
                <label for="building"> Old Species Name: {{ requirement.species_id }}</label><br>
                <label for="building">   Note: if you want to change Species then select new Species in drop down otherwise selecct same</label><br>
                <select name="species_id" id="species">
                    {% for specie in species %}
                        <option value="{{ specie.species_id }}" {% if specie.species_id == current_species_id %}selected{% endif %}>
                            {{ specie.species_name }}
                        </option>
                    {% endfor %}
                </select><br>

                <label for="quantity">Quantity:</label><br>
                <input type="number" id="quantity" name="quantity" value="{{ requirement.quantity }}" required><br>
            </div>
        {% endfor %}

        <input type="submit" value="Update">
    </form>

    <a href="{% url 'attraction_actions' %}" class="button">Back</a>
{% endfor %}
{% endblock %}
