{% extends "base.html" %}

{% block title %}Edit Concession{% endblock %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
<div class="container">
    {% for animal in animals %}
    <h1>Update Animal: {{ animal.animal_name }}</h1> 
    <form action="{% url 'edit_animal' animal.tag_number %}" method="post">
        {% csrf_token %}

        <label for="species">Species:</label>
        <select id="species" name="species_id" required>  
            <option value="">Select Species</option>
            {% for species in species %}
                <option value="{{ species.species_id }}" {% if species.species_id == animal.species_id %}selected{% endif %}>
                    {{ species.species_name }}
                </option>
            {% endfor %}
        </select> 
        <label for="enclosure_id">Enclosure:</label> 
        <select id="enclosure_id" name="enclosure_id" required>
            {% for enclosure in enclosures %}
                <option value="{{ enclosure.enclosure_id }}"
                        {% if enclosure.enclosure_id == animal.enclosure_id %} selected {% endif %}>
                    {{ enclosure.enclosure_number }}
                </option>
            {% endfor %}
        </select> 


        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="">Select Status</option>
            <option value="Healthy" {% if animal.status == "Healthy" %} selected {% endif %}>Healthy</option>
            <option value="Medical Care" {% if animal.status == "Medical Care" %} selected {% endif %}>Medical Care</option>
            <option value="Maternal Leave" {% if animal.status == "Maternal Leave" %} selected {% endif %}>Maternal Leave</option>
            <option value="Newborn" {% if animal.status == "Newborn" %} selected {% endif %}>Newborn</option>
        </select>

        <label for="birth_year">Birth Year:</label> 
        <input type="number" id="birth_year" name="birth_year" value="{{ animal.birth_year }}"  min="1900" max="2023" required> 

        <input type="submit" value="Update">
    </form>
    {% endfor %}
    <a href="{% url 'animal_actions' %}" class="button">Back</a>
    
</div>
{% endblock %}
